.character-box {
    background: #f2e9e1;
    border: 1px solid #cecacd;
    border-radius: 15px;
    height: 80px;
    width: 80%;
    margin-top: 30px;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.char-name {
    color: #575279;
    font-size: 26px;
    margin-left: 20px;
}

.hp-box {
    font-size: 25px;
    margin-right: 50px;
    font-family: "Montserrat";
}

.low-hp {
    color: #b4637a;
}

.medium-hp {
    color: #ea9d34;
}

.high-hp {
    color: #56949f;
}
