html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    border: none;
    min-height: 100%;
}

header {
    background: #fffaf3;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-title {
    color: #575279;
    margin-left: 30px;
    font-weight: bold;
    font-family: "Old Standard TT";
}

main {
    background: #faf4ed;
    padding: 40px 15px 40px 15px;

    min-height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-buttons-box {
    display: flex;
    flex-direction: row;

    margin-right: 20px;
}

.action-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


    background: transparent;

    border-radius: 10px;
    font-weight: 500;
    font-family: "Montserrat";

    margin-right: 20px;
}

#remove-all-btn {
    color: #b4637a;
    border: 2px solid #b4637a;
}

#reorder-btn {
    color: #907aa9;
    border: 2px solid #907aa9;
}

#next-turn-btn {
    color: #286983;
    border: 2px solid #286983;
}

@media (hover: hover) {
    #remove-all-btn:hover {
        color: #fffaf3;
        background: #b4637a;
    }

    #reorder-btn:hover {
        color: #fffaf3;
        background: #907aa9;
    }

    #next-turn-btn:hover {
        color: #fffaf3;
        background: #286983;
    }
}

@media (hover: none) {
    #remove-all-btn:active {
        color: #fffaf3;
        background: #b4637a;
    }

    #reorder-btn:active {
        color: #fffaf3;
        background: #907aa9;
    }

    #next-turn-btn:active {
        color: #fffaf3;
        background: #286983;
    }
}

.action-btn > .bi {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.action-btn-text {
    font-size: 20px;
    margin: 8px 10px 8px 5px;
}

footer {
    height: 20vh;
    background: #cecacd;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text {
    color: #575279;
    font-size: 15px;

    font-family: "Old Standard TT";
}

.footer-link {
    color: #907aa9;
    text-decoration: none;
}
